@font-face {
  font-family: "M+ 2p";
  src: url('/fonts/mplus/mplus-2p-regular.ttf');
}

@font-face {
  font-family: "M+ 2p";
  src: url('/fonts/mplus/mplus-2p-bold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: "M+ 2p";
  src: url('/fonts/mplus/mplus-2p-heavy.ttf');
  font-weight: 800;
}

@font-face {
  font-family: "M+ 1m";
  src: url('/fonts/mplus/mplus-1m-regular.ttf');
}

@font-face {
  font-family: "M+ 1m";
  src: url('/fonts/mplus/mplus-1m-bold.ttf');
  font-weight: 600;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "M+ 2p", sans-serif;
  font-size: 12pt;
}

html, body, #container {
  height: 100%;
  width: 100%;
}

/* avenir white css */
#container {
	width: 75%;
	margin: 0 auto;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.1em;
}

h1 {
	font-size: 35pt;
  font-family: Ribeye Marrow;
  text-align: center;
}

h2 {
	border-bottom: 1px solid #CCCCCC;
  padding-bottom: 0.25em;
	font-size: 24pt;
  font-weight: 800;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h3 {
	font-size: 20pt;
}

h4 {
	font-size: 18pt;
}

h5 {
	font-size: 16pt;
}

h6 {
	font-size: 14pt;
}

hr {
	height: 0.2em;
	border: 0;
	color: #CCCCCC;
	background-color: #CCCCCC;
}

ul, ol, dl, {
  line-height: 1.2em;
  margin-bottom: 15px;
}

li {
  margin: 5px 0;
}

p, blockquote, table, pre {
	margin-top: 0;
  margin-bottom: 15px;
}

a[href], a[href]:visited {
	color: #4183C4;
	text-decoration: none;
}

code, pre {
	font-family: "M+ 1m", monospace;
	border-radius: 3px;
	color: inherit;
}

pre > code {
	margin: 0;
	padding: 0;
}

pre {
  line-height: 1.2em;
}

nav {
  width: 75%;
  margin: 0 auto;
  font-size: 14pt;
  background-color: #eee; }
nav > a {
  text-decoration: none;
  padding: 0 5px;
  background-color: rgba(0,0,0,0.1);}
